@model Booking.Models.ARTICLE
@{
    ViewBag.Title = "Tạo Bài viết";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";        
}
<script src="/content/ckeditor/ckeditor.js"></script>
<script src="/content/ckfinder/ckfinder.js"></script>
<section class="content-header">
    <h1>
        Thêm mới Bài viết thuộc Danh mục: <b><i>@ViewBag.categoryName</i></b>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Admin"><i class="fa fa-dashboard"></i>Admin</a></li>
        <li><a href="/AdminArticle">Danh mục Bài viết</a></li>
        <li><a href="/adminarticle/articelincategory/@ViewBag.id">Danh sách Bài viết</a></li>
        <li class="active">Tạo Bài viết</li>
    </ol>
</section>
<section class="content">
    @if (TempData["articleNameError"] != null)
    {
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            @TempData["articleNameError"]
        </div>
    }
    @if (TempData["articleImageError"] != null)
    {
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            @TempData["articleImageError"]
        </div>
    }
    @if (TempData["articleContentError"] != null)
    {
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            @TempData["articleContentError"]
        </div>
    }
    <div class="row">
	@using (Html.BeginForm("create", "adminarticle", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="col-md-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">Thông tin</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    
                        @Html.AntiForgeryToken()
                        <div class="box-body">
                            <div class="form-group">
                                <label for="ARTICLE_TITLE">Tiêu đề bài viết <span style="color:red;">(*)</span></label>@Html.ValidationMessageFor(model => model.ARTICLE_TITLE, "", new { @class = "text-danger" })
                                @Html.TextBoxFor(model => model.ARTICLE_TITLE, new { @class = "form-control", @placeholder = "Nhập tiêu đề..." })
                            </div>
                            <div class="form-group">
                                <label for="ARTICLE_BRIEF">Nội dung mô tả</label>
                                @Html.TextAreaFor(model => model.ARTICLE_BRIEF, new { @class = "form-control", @placeholder = "Nhập mô tả...", @cols = "80", @rows = "4" })
                            </div>
                            <div class="form-group">
                                <label for="ARTICLE_CONTENT">Nội dung <span style="color:red;">(*)</span></label>
                                @Html.TextAreaFor(model => model.ARTICLE_CONTENT, new { @class = "form-control", @placeholder = "Nhập nội dung...", @cols = "80", @rows = "4" })
                                <script>
                                    CKEDITOR.replace('ARTICLE_CONTENT', {
                                        filebrowserImageUploadUrl: '/Upload.ashx',
                                        height: 350
                                    });
                                    CKEDITOR.config.autoParagraph = false;
                                    CKFinder.setupCKEditor(null, "/Content/ckfinder/");
                                </script>
                            </div>                                                        
                        </div>                    
                </div>
            </div>
			 @{
                List<SelectListItem> listlanguage = ViewBag.BindListLanguage;
                foreach (var item in listlanguage)
                {
                    decimal idl = Convert.ToDecimal(item.Value);                   
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Language: @item.Text </h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label for="ARTICLE_TITLE">Tiêu đề</label>                               
                                    @Html.TextBox("ARTICLE_TITLE_" + item.Value, "", new { @class = "form-control", @placeholder = "Nhập" })                                
                            </div>
                            <div class="form-group">
                                <label for="Brief">Mô tả</label>
                                    @Html.TextArea("ARTICLE_BRIEF_" + item.Value, "", new { @class = "form-control", @placeholder = "Nhập" })                                
                            </div>
                            <div class="form-group">
                                <label for="content">Nội dung</label>
                                    @Html.TextArea("ARTICLE_CONTENT_" + item.Value, "", new { @class = "form-control", @placeholder = "Nhập nội dung...", @cols = "80", @rows = "4" })                                
                                <script>
                                    CKEDITOR.replace('ARTICLE_CONTENT_@item.Value', {
                                        filebrowserImageUploadUrl: '/Upload.ashx',
                                        height: 350
                                    });
                                    CKEDITOR.config.autoParagraph = false;
                                    CKFinder.setupCKEditor(null, "/Content/ckfinder/");
                                </script>
                            </div>
                        </div>
                    </div>
                }
            } 
        </div>
		<div class="col-md-12">
			<div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Thuộc tính</h3>
                </div>
                <div class="box-body">
					<div class="form-group">
                        <label for="ARTICLE_TAGS">Từ khóa <span><i>(Các từ khóa cách nhau bởi dấu ";")</i></span></label>
                        @Html.TextBoxFor(model => model.ARTICLE_TAGS, new { @class = "form-control", @placeholder = "Nhập từ khóa..." })
                    </div>
                    <div class="form-group">
                        <label for="ARTICLE_CREATEDATE">Ngày đăng</label>
                        @Html.TextBoxFor(model => model.ARTICLE_CREATEDATE, "{0:dd/MM/yyyy}", new { @Value = DateTime.Now.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture), @class = "form-control" })
                    </div>
                    <div class="checkbox">
                        <label>
                            @Html.CheckBox("ARTICLE_IS_HOT") Bài viết nổi bật
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="ARTICLE_IMAGE_LARGE">Ảnh đại diện </label>
                        @Html.TextBoxFor(model => model.ARTICLE_IMAGE_LARGE, new { @type = "file", @class = "form-control", @onchange = "displayImage(this)" })
                        <img style="display: none; max-width:300px;height:auto" id="image_large" src="">
                                
                    </div>                    
                    <div class="form-group">
                        <label for="ARTICLE_FILE_NAME_1">File đính kèm 1</label>
                        @Html.TextBoxFor(model => model.ARTICLE_FILE_NAME_1, new { @type = "file", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="ARTICLE_FILE_NAME_2">File đính kèm 2</label>
                        @Html.TextBoxFor(model => model.ARTICLE_FILE_NAME_2, new { @type = "file", @class = "form-control" })
                    </div>
                    <div class="checkbox">
                        <label>
                            @Html.CheckBox("ARTICLE_DISABLE") Xuất bản (Hiển thị) bài viết 
                        </label>
                    </div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
            <div class="box-footer">
                <div class="form-group">
                    <label style="color:red;"><i>(*) là trường bắt buột nhập.</i></label>
                </div>
                <button type="submit" class="btn btn-primary">Lưu</button>
                <a href="/adminarticle/articelincategory/@ViewBag.Id" class="btn btn-default">Quay lại</a>
            </div>
        </div>
	}
    </div>
</section>

