@using Booking.Models
@model Booking.Models.ACCOUNT
@{
    ViewBag.Title = "Cập nhật Người dùng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    List<ACCOUNT> userCreatedBy = (List<ACCOUNT>)ViewBag.UserCreatedBy;
}

<section class="content-header">
    <h1>Cập nhật Người dùng</h1>
</section>
<section class="content">
    @{
        int countError = ViewBag.CountError != null ? (int)ViewBag.CountError : 0;
        if (countError > 0)
        {
            @Html.ValidationSummary(true)
            @Html.ValidationMessage("error", "", new { @class = "alert alert-danger alert-dismissable", style = "text-align:left; display: block" })
        }
    }
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Cập nhật Người dùng</h3>
        </div>
        @using (Html.BeginForm("Edit", "AdminAccount", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()

            <div class="box-body">

                @Html.HiddenFor(model => model.USER_ID)
                <div class="form-group">
                    @Html.Label("Họ tên", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.USER_FULL_NAME, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.USER_FULL_NAME)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Tên đăng nhập", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.USER_NAME, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.USER_NAME)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label(" ", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="checkbox" name="AllowChangePass" id="AllowChangePass" onclick=" CheckChangePass('AllowChangePass') " checked="@ViewBag.AllowChangePass" />
                        Bạn muốn reset mật khẩu?
                    </div>
                </div>
                <div class="form-group field-reset-pass" style="display: none">
                    @Html.Label("Mật khẩu", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.USER_PASSWORD, new { @class = "form-control", type = "password" })
                        @Html.ValidationMessageFor(model => model.USER_PASSWORD)
                    </div>
                </div>
                <div class="form-group field-reset-pass" style="display: none">
                    @Html.Label("Mật khẩu Xác nhận", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBox("CONFIRM_PASS", "", new { @class = "form-control", type = "password" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Ngày tạo", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.USER_CREATEDATE, new { @class = "form-control", @readonly = "true" })
                        @Html.ValidationMessageFor(model => model.USER_CREATEDATE)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Tạo bởi", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.HiddenFor(model => model.USER_CREATEBY, new { @class = "form-control" })
                        @Html.TextBox("USER_CREATEBY_UserName", userCreatedBy.Any() ? userCreatedBy.Single().USER_NAME : "", new { @class = "form-control", @readonly = "true" })
                        @Html.ValidationMessageFor(model => model.USER_CREATEBY)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Kiểu tài khoản", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("ROLE_ID", null, String.Empty, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ROLE_ID)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Kích hoạt", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.CheckBox("USER_ACTIVED", (Html.ValueFor(model => model.USER_ACTIVED) + "" != "" && bool.Parse(Html.ValueFor(model => model.USER_ACTIVED) + "")))
                        @Html.ValidationMessageFor(model => model.USER_ACTIVED)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Lĩnh vực:", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.CheckBox("USER_ALLOW_CATEGORY", (Html.ValueFor(model => model.USER_ALLOW_CATEGORY) + "" != "" && bool.Parse(Html.ValueFor(model => model.USER_ALLOW_CATEGORY) + "")))
                        Quản lý Danh mục
                        @Html.ValidationMessageFor(model => model.USER_ALLOW_CATEGORY)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label(" ", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.CheckBox("USER_ALLOW_ARTICLE", (Html.ValueFor(model => model.USER_ALLOW_ARTICLE) + "" != "" && bool.Parse(Html.ValueFor(model => model.USER_ALLOW_ARTICLE) + "")))
                        Quản lý Bài viết
                        @Html.ValidationMessageFor(model => model.USER_ALLOW_ARTICLE)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label(" ", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.CheckBox("USER_ALLOW_MEDIA", (Html.ValueFor(model => model.USER_ALLOW_MEDIA) + "" != "" && bool.Parse(Html.ValueFor(model => model.USER_ALLOW_MEDIA) + "")))
                        Quản lý Media
                        @Html.ValidationMessageFor(model => model.USER_ALLOW_MEDIA)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label(" ", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.CheckBox("USER_ALLOW_USER", (Html.ValueFor(model => model.USER_ALLOW_USER) + "" != "" && bool.Parse(Html.ValueFor(model => model.USER_ALLOW_USER) + "")))
                        Quản lý Người dùng
                        @Html.ValidationMessageFor(model => model.USER_ALLOW_USER)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label(" ", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.CheckBox("USER_ALLOW_HOTEL", (Html.ValueFor(model => model.USER_ALLOW_HOTEL) + "" != "" && bool.Parse(Html.ValueFor(model => model.USER_ALLOW_HOTEL) + "")))
                        Quản lý Khách sạn
                        @Html.ValidationMessageFor(model => model.USER_ALLOW_HOTEL)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label(" ", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.CheckBox("USER_ALLOW_ROOM", (Html.ValueFor(model => model.USER_ALLOW_ROOM) + "" != "" && bool.Parse(Html.ValueFor(model => model.USER_ALLOW_ROOM) + "")))
                        Quản lý Phòng
                        @Html.ValidationMessageFor(model => model.USER_ALLOW_ROOM)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label(" ", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.CheckBox("USER_ALLOW_MEMBER", (Html.ValueFor(model => model.USER_ALLOW_MEMBER) + "" != "" && bool.Parse(Html.ValueFor(model => model.USER_ALLOW_MEMBER) + "")))
                        Quản lý Thành viên
                        @Html.ValidationMessageFor(model => model.USER_ALLOW_MEMBER)
                    </div>
                </div>
            </div>
            <div class="box-footer">
                @*<button type="submit" class="btn btn-default">Cancel</button>*@
                @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-default" })
                <input type="submit" value="Lưu" class="btn btn-primary pull-right" />
            </div>
        }
    </div>

</section>

<script>   
    function CheckChangePass(controlId) {
        if (document.getElementById(controlId).checked) {
            $('.field-reset-pass').show();
            document.getElementById('USER_PASSWORD').value = '';
            document.getElementById('USER_PASSWORD').focus();
        } else {
            $('.field-reset-pass').hide();
        }
    }
    $(document).ready(function () {
        CheckChangePass('AllowChangePass');
    });
</script>