@model Booking.Models.CATEGORY
@{
    ViewBag.Title = "Tạo mới Danh mục";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string strUrl = Request.Url.AbsoluteUri;
    string strPath = Request.ApplicationPath;
    string host = Request.Url.Host;
    string urlHome = "/";
    if (strPath != "/")
    {
        urlHome = strPath + urlHome;
    }
}
<section class="content-header">
    <h1>
        Quản lý Danh mục
    </h1>
</section>
<section class="content">
    @if (TempData["categogyNameError"] != null)
    {
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            @TempData["categogyNameError"]
        </div>
    }
    @if (TempData["categogyImageError"] != null)
    {
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            @TempData["categogyImageError"]
        </div>
    }
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Tạo mới Danh mục</h3>
                </div>
                <div class="box-body">
                    @using (Html.BeginForm("create", "admincategory", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="box-body">
                            <div class="form-group">
                                <label for="CATEGORY_NAME">Tên Danh mục <span style="color:red;">(*)</span></label>@Html.ValidationMessageFor(model => model.CATEGORY_NAME, "", new { @class = "text-danger" })
                                @Html.TextBoxFor(model => model.CATEGORY_NAME, new { @class = "form-control", @placeholder = "Nhập tên Danh mục..." })
                            </div>
                            <div class="form-group">
                                <label for="slCategoryParent">Thuộc Danh mục</label>
                                @{
                        List<SelectListItem> listItems = ViewBag.BindDropDownCategory;
                                }
                                @Html.DropDownList("CATEGORY_PARENT_ID", new SelectList(listItems, "Value", "Text"), new { id = "CATEGORY_PARENT_ID" })
                            </div>
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBox("CATEGORY_IS_SHOW_MENU") Hiển thị trên menu chính
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBox("CATEGORY_IS_SHOW_FOOTER")Hiển thị trên menu footer
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBox("CATEGORY_ISMEDIA")Là Danh mục media
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="txtOrder">Thứ tự hiển thị</label>@Html.ValidationMessageFor(model => model.CATEGORY_ORDER, "", new { @class = "text-danger" })
                                @Html.TextBoxFor(model => model.CATEGORY_ORDER, new { @class = "form-control", @placeholder = "Thứ tự hiển thị..." })
                            </div>
                            <div class="form-group">
                                <label for="txtOrder">Liên kết ngoài</label>
                                @Html.TextBoxFor(model => model.CATEGORY_LINK, new { @class = "form-control", @placeholder = "Liên kết ngoài..." })
                            </div>
                            <div class="form-group">
                                <label for="CATEGORY_IMAGE">Ảnh đại diện (Kích thước 146x180) <span style="color:red;">(*)</span></label>
                                @Html.TextBoxFor(model => model.CATEGORY_IMAGE, new { @type = "file", @class = "form-control", @onchange = "displayImage(this);" })
                                <img style="display: none; max-width:600px;height:auto" id="image" src="">
                            </div>
                            <div class="form-group">
                                <label style="color:red;"><i>Không bỏ trống trường có ký hiệu (*).</i></label>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Thêm mới</button>
                            <a href="@(urlHome + "admin/category")" class="btn btn-default">Quay lại</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>