@{
    ViewBag.Title = "Danh sách Danh mục";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var ListOfCategory = ViewBag.ListOfCategory;
    var stt = 0;
    string strUrl = Request.Url.AbsoluteUri;
    string strPath = Request.ApplicationPath;
    string host = Request.Url.Host;
    string urlHome = "/";
    if (strPath != "/")
    {
        urlHome = strPath + urlHome;
    }
}
<section class="content-header">
    <h1>
        Quản lý Danh mục
    </h1>
</section>
<section class="content">
    <div class="row" style="padding-bottom:10px;">
        <div class="col-md-12">
            @Html.ActionLink("Tạo mới Danh mục", "create", new { controller = "AdminCategory" }, new { @class = "btn btn-primary pull-left" })
        </div>
    </div>
    @if (TempData["message_success"] != null)
    {
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            @TempData["message_success"]
        </div>
    }
    @if (TempData["message_fail"] != null)
    {
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            @TempData["message_fail"]
        </div>
    }
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Danh sách Danh mục</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th style="width: 10px">STT</th>
                                <th>Tên danh mục</th>
                                <th>Liên kết ngoài</th>
                                <th>Alias</th>
                                <th>Thứ tự hiển thị</th>
                                <th>Hiển thị trên menu chính</th>
                                <th>Hiển thị trên menu footer</th>
                                <th style="width: 10px; text-align:center">Chức năng</th>
                            </tr>
                            @if (ListOfCategory != null && ListOfCategory.Count > 0)
                            {
                                foreach (var item in ListOfCategory)
                                {
                                    stt = stt + 1;
                                    <tr>
                                        <td style="text-align:center;">@stt</td>
                                        <td>@item.CATEGORY_NAME</td>
                                        <td>@item.CATEGORY_LINK</td>
                                        <td>@item.CATEGORY_ALIAS</td>
                                        <td style="text-align:center;">@item.CATEGORY_ORDER</td>
                                        <td style="text-align:center;">
                                            @if (item.CATEGORY_IS_SHOW_MENU)
                                            {
                                                <a class="display" data="@item.CATEGORY_ID">
                                                    <i title="Có" class="fa fa-check" aria-hidden="true" style="cursor: pointer;"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a class="display" data="@item.CATEGORY_ID">
                                                    <i title="Không" class="fa fa-ban" aria-hidden="true" style="cursor: pointer; color:red"></i>
                                                </a>
                                            }
                                        </td>
                                        <td style="text-align:center;">
                                            @if (item.CATEGORY_IS_SHOW_FOOTER)
                                            {
                                                <a class="display_footer" data="@item.CATEGORY_ID">
                                                    <i title="Có" class="fa fa-check" aria-hidden="true" style="cursor: pointer;"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a class="display_footer" data="@item.CATEGORY_ID">
                                                    <i title="Không" class="fa fa-ban" aria-hidden="true" style="cursor: pointer; color: red"></i>
                                                </a>
                                            }
                                        </td>
                                        <td style="text-align:center;">
                                            <ul class="contro_function">
                                                <li>
                                                    <a title="Cập nhật" href="@(urlHome + "admincategory/edit/" + item.CATEGORY_ALIAS)">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                </li>
                                                <li>|</li>
                                                <li>
                                                    <a title="Thêm bài viết" href="@(urlHome + "adminarticle/create/" + item.CATEGORY_ID)">
                                                        <i class="fa fa-plus" style="color:green;"></i>
                                                    </a>
                                                </li>
                                                <li>|</li>
                                                <li>
                                                    <a title="Xóa" href="@(urlHome + "admincategory/delete/" + item.CATEGORY_ALIAS)" onclick="return confirm('Bạn có muốn xóa không?');">
                                                        <i class="fa fa-remove" style="color:red;"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

